html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: url("../assets/cursor/pencil.png"),auto;
  overflow: hidden;
  font-size: 16px;
}
::selection{
  background-color: #2ec7bd;
}
.h-tooltip{
  font-size: .75rem!important;
}

.container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 60px 3fr 2fr;
  grid-template-columns: 15fr 34fr 51fr;
}
/*.main{*/
  /*grid-row:2/4;*/
  /*grid-column: 1/4;*/
  /*position: absolute;*/
  /*left: 0;*/
  /*top: 0;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*padding-top: 60px;*/
  /*box-sizing: border-box;*/
  /*display: flex;*/
/*}*/
.left{
  grid-row: 2/4;
  grid-column: 1/2;
  /*flex: 0.15;*/
  overflow: auto;
  border-right: solid 1px #c1c1c1;
  /*transition: flex ease-in-out 1s;*/
}
.main .left.zoom{
  flex: 0.1;
  transition: flex ease-in-out 1s;
}

.main .left.zoom + .right{
  flex: 0.9;
  transition: flex ease-in-out 1s;
}
/*.right{*/
  /*position: relative;*/
  /*!*flex: 0.85;*!*/
  /*!*display: flex;*!*/
  /*!*transition: flex ease-in-out 1s;*!*/
  /*grid-row: 2/4;*/
  /*grid-column: 2/4;*/
/*}*/
.prompt{
  grid-row: 2/4;
  grid-column: 2/4;
  background-color: rgb(234, 234, 234);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: lighter;
  color: #848484;
  cursor: url("../assets/左箭头.png"),auto;
  user-select: none;
  z-index: 2;
}
.prompt img{
  width: 100%;
  height: 100%;
}
/*.showContainer{*/
  /*grid-row: 2/3;*/
  /*grid-column: 2/3;*/
  /*flex: 0.4;*/
  /*display: flex;*/
  /*flex-direction: column;*/
/*}*/
.operateContainer{
  /*flex: 0.6;*/
  grid-row: 2/4;
  grid-column: 3/4;
  border-left: solid 1px #c1c1c1;
}

.operate{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.operationUl{
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
}
.operationUl>li{
  border-bottom: solid 1px #e2e2e2;
  padding: 10px 0 10px 10px;
  position: relative;
  display: flex;
  align-items: center;
}
.operationUl>li:hover{
  background-color: #f5f5f5;
  box-shadow: 1px 0 4px 0 #dadada;
}
.operationUl>li .operateTitle{
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  margin-right: 50px;
  position: absolute;
}
.operationUl>li>span i{
  margin-right: 5px;
}
.operationUl>li>div{
  display: inline-block;
  position: relative;
  left: 120px;
  width: calc(100% - 120px);
}

.operate input[type=range] {
  -webkit-appearance: none;
  border-radius: 5px; /*这个属性设置使填充进度条时的图形为圆角*/
  cursor: url("../assets/cursor/ruler.png"),auto;
}
.operate input[type=range]::-webkit-slider-runnable-track {
  height: 10px;
  border: solid 1px #c1c1c1;
  border-radius: 5px; /*将轨道设为圆角的*/
  box-shadow: 0 0 2px #ccc inset; /*轨道内置阴影效果*/
  background-color: transparent;
}

.operate input[type=range]:focus {
  outline: none;
}

.operate input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  margin-top: -4px; /*使滑块超出轨道部分的偏移量相等*/
  background: #ffffff;
  border-radius: 100%; /*外观设置为圆形*/
  box-shadow: 0 1px 1px 1px #818286; /*添加底部阴影*/
}
.operate input[type=range]+span{
  background-color: #efefef;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  border: solid 1px #cccccc;
}
.operate .operateText{
  border-radius: 2px;
  line-height: normal;
  white-space: nowrap;
  font-size: 14px;
  padding: 5px 2px;
  text-align: center;
  color: #000;
  border: 1px solid rgba(0,0,0,0.1);
  background-color: #f3f3f3;
  width: 30px;
  -webkit-box-shadow: 0 1px 2px -1px rgba(255,255,255,0.5) inset, 0 -2px 0 0 rgba(0,0,0,0.1) inset;
  outline: none;
  vertical-align: middle;
}
.operate .operateText:focus{
  background-color: #d4ecfd;
}
.Title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e6e6e6;
  padding: 4px 10px;
}
.Title>div{
  display: flex;
  align-items: center;
}
.Title .toolsBtn i{
  cursor: url("../assets/cursor/pen.png"),pointer;
}
.Title .toolsBtn i:hover{
  background-color: #d4d4d4;
}
.Title .toolsBtn code{
  font-family: "Courier New",sans-serif;
  font-size: 12px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  margin: 0 5px;
}
.Title ul{
  list-style: none;
  padding: 0 10px;
  margin: 0 10px;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
}
.Title ul li{
  display: inline-block;
}
.Title ul li.active{
  background-color: #d4d4d4;
  border: solid 1px #a4a4a4;
}

/*置顶*/
.tttop{
  z-index: 999!important;
}

.info{
  font-size: 12px;
  color: #909090;
}
.chooseContainer{
  position: relative;
  display: inline-block;
  font-weight: normal;
  line-height: 10px;
  cursor: url("../assets/cursor/pen.png"),pointer;
  padding: 8px;
  font-size: 12px;
  border-radius: 5px;
  border: solid 1px #ccc;
  color: #5a5a5a;
  transition: background-color .6s;
}
.chooseContainer:hover{
  border-color: #000000;
  background-color: #000000;
  color: #0cfbe7;
  transition: background-color .6s;
}
.chooseContainer>ul{
  position: absolute;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 1px #e2e2e2;
  z-index: 999;
  color: #000;
  border: dashed 1px rgba(1, 4, 47, 0.34);
  max-height: 238px;
  overflow: hidden auto;
}.chooseContainer>ul.showTop{
   position: absolute;
  bottom: 100%;
 }
.chooseContainer>ul li{
  position: relative;
  padding: 3px 28px 3px 15px;
  border-bottom: solid 1px #e2e2e2;
  cursor: url("../assets/cursor/pen.png"),pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  line-height: 28px;
  white-space: nowrap;
  outline: solid 1px rgba(18, 150, 219, 0);
  outline-offset: 15px;

}
.chooseContainer>ul li:nth-last-child(1){
  border-radius: 0 0 5px 5px;
}
.chooseContainer>ul li:nth-child(1){
  border-radius: 5px 5px 0 0;
}
.chooseContainer>ul li:hover{
  background-color: #000;
  color: #0cfbe7;
  transition: background-color .5s;
  animation: choose .6s ease-out;
}
.chooseContainer>ul li:hover .en{
  color: rgba(12, 251, 231, 0.71);
}
.chooseContainer ::-webkit-scrollbar{
  background-color: rgba(155, 218, 255, 0.28);
  width: 5px;
}
.chooseContainer ::-webkit-scrollbar-thumb{
  background-color: #0ca6fb73;
  border: solid 1px #0000007d;
}
/*用于表明css属性的英文*/
.en{
  font-size: 13px;
  font-style: italic;
  margin-left: 5px;
  color: #868686;
}


@keyframes choose {
  0%{
    outline-offset: 0;
    outline-color: rgba(121, 119, 122, 0.64);
  }
  100%{
    outline-offset: 15px;
    outline-color: rgba(18, 150, 219, 0);
  }
}
.item{
  display: inline-block;
  margin-right: 20px;
}
.unit{
  margin:0 20px 0 5px;
  font-size: 12px;
}
.checkbox{
  cursor: url("../assets/cursor/pen.png"),auto;
}
.checkbox input[type='checkbox']{
  display: none;
}
.checkbox input[type='checkbox']+i{
  position: relative;
  top: 3px;
}
.iconok{
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}
.checked{
  background-color: white;
}
.checked:hover{
  background-color: white!important;
  color: #000!important;
  animation: none!important;
}
.checked:hover .en{
  color: #868686!important;
}
.checked .iconok{
  display: block;
}
.tooltip-red{
  color: red;
}

